body 
    background: $color-primary
    

.wrapper 
    display: grid
    
    

.card
    display: flex 
    flex-direction: column
    text-align: center
    border: 1px solid #eee
    border-radius: .25em .25em 0 0
    
    

.main-content 
    display: flex
    flex-direction: row 
    justify-content: space-around
     

h1 
    hr 
        display: block
        height: 1px
        border: 0
        border-top: 1px solid #ccc
        margin: 0
        padding: 0

h1  
    display: inline-block
    
.haar-button
    background-color: red
    color: white
    padding: 1em 1.5em
    text-decoration: none
    text-transform: uppercase

.main-content
    a
        &:hover 
            background-color: #555
            cursor: pointer



a
    &:active 
        background-color: black






